[2022-05-19 23:31] elreydetodo opened #1 "HomeWorks QS QSX processor compatibility"
The ra3 branch appears to be nearing support for the QSX processor used by modern HomeWorks QS systems. Can we see about improving the branch to pick up whatever compatibility pieces are missing?

I have a QSX processor, so I can provide output samples, test code, and submit PRs as needed. I'll need some help getting pointers on debugging this, as I'm new to trying this stuff out with the library.

[2022-06-26 19:48] MouseRatt opened #2 "Integrations stops functioning after a physical input to Sunnata Keypad Device"
Hi Danaues - INCREDIBLE work on the integration, was using an MQTT way of bringing RA3 devices into HA previously.

I've noticed that the integration unfortunately breaks though whenever I physically use a Sunnata Keypad device to control lights/trigger a scene. It throws failures to call switch/light services once a Sunnata keypad has been interacted with. Reload the integration or restarting hom

[2022-06-27 20:37] danaues commented on #2
@MouseRatt, Thanks!  I've just today ordered some Sunnata 4 Button and 3 ButtonRL keypads.  Hopefully they show up sometime this week, and I can start testing it out.

[2022-06-27 20:39] danaues commented on #2
Short term, I can let them masquerade as 3 and 4 button Pico's until we get the HA integration updated to support them.  I'll start looking into it.

[2022-06-27 20:43] danaues commented on #1
Hi @elreydetodo, Sorry for the delayed response.  Let me try some initial things to get QSX supported, then I can work with you on figuring out some debug ability in the logs with your supervised setup.  I'm using the HASSIO, but I'm sure we can figure it out.

[2022-06-30 02:02] danaues commented on #2
@MouseRatt , I've implemented the changes.  Unfortunately for it to work I had to modify the lutron_caseta component within HA as well.  I'll figure out how to get that pushed to HA, but for now you can download my modified lutron_caseta module to config/custom_components/pyluton_caseta to override the default one.  More instructions coming soon.

You will also have to repeat the instructions at t

[2022-06-30 04:49] danaues commented on #2
If you download the contents of this folder into ./config/custom_components/lutron_caseta you should be able to test the keypads out.  Mine are working great.

https://github.com/danaues/core/tree/lutron_caseta-ra3keypads/homeassistant/components/lutron_caseta

[2022-06-30 04:52] danaues commented on #2
This is what I have in my configuration.yaml for debug logging

I just go into Settings/System/Logs to see the output

logger:
  default: info
  logs:
    homeassistant.components.cloud: debug
    homeassistant.components.lutron_caseta: debug
    pylutron_caseta: debug

[2022-07-01 01:50] danaues opened #3 "Occupancy Sensing"
Initial Occupancy sensing is working in ra3-occupancy branch.
https://github.com/danaues/pylutron-caseta/tree/ra3-occupancy

The gotcha so far is that all area's show up as occupancy sensors, but only areas that actually have a sensor will ever change state.

I've been able to create a subscription to /area/status, which triggers whenever there is an occupancy status change in one of the areas. So

[2022-07-01 23:44] cbw commented on #1
Chiming in here as well – would love to help work on QSX support, and have a test QSX processor set up to test against. I'm setting up another HASS instance to test with this afternoon.

Is the `ra3` branch of `danaues/pylutron-caseta` the best place to send PRs?

[2022-07-04 16:53] danaues commented on #2
@MouseRatt , I've just successfully pushed some changes into the HA integration that will allow your SunnataKeypads to work without crashing.  Should be included in the next HA release.  So give it a test once the new July release is issued.

[2022-07-06 21:14] danaues commented on #2
@MouseRatt, missed the 2022.7 release, but it's approved and should be in the next release.

[2022-07-06 23:09] MouseRatt commented on #2
Amazing! I will check it out! Should be targeted for 2022.7.1 then?

[2022-07-23 19:52] MouseRatt commented on #2
@danaues

Is there a new way to utilize your pylutron edits? My RA3 hub is no longer responding/working in home assistant.

I typically do the following:
-go to your console on your HA system
-you should have the "ha > " prompt
-enter the command "login", and you get a "#" prompt
-enter the command "docker exec -it $(docker ps -f name=homeassistant -q) bash" and you get a "bash-5.1#" prompt
-enter

[2022-07-23 21:13] nopo200 commented on #2
@danaues

Sorry, to clarify, I did download your lutron_caseta component from the "core" repository on your github,  and placed it in my custom component, but it looks like perhaps it isn't loading? I am getting the following error.

Logger: homeassistant.config_entries
Source: components/lutron_caseta/__init__.py:129
First occurred: 2:04:32 PM (1 occurrences)
Last logged: 2:04:32 PM

Error settin

[2022-07-24 14:30] danaues commented on #2
@MouseRatt , sorry about that.  I’m trying to get these changes integrated into the main code, but having to make some changes to satisfy the maintainers requests.  It’s breaking the compatibility.

Use this branch instead, it should still work for you: ra3-occupancy
Same as you were using before, but added occupancy stuff.  I won’t merge this, so it will continue to work for you, even as I break

[2022-07-24 16:42] MouseRatt commented on #2
@danaues no worries at all, I actually ended up rolling all the way back to your 5/4/2022 edits (had to make my own fork to roll back to that commit).. for some reason the ra3 occupancy fork was throwing errors for me also

[2022-08-05 19:45] JonGilmore commented on #2
@MouseRatt can you link me to the commit sha that you're using that is working? I haven't been able to get this going either yet...

[2022-08-05 21:27] MouseRatt commented on #2
@JonGilmore https://github.com/MouseRatt/pylutron-caseta@ra3

(Note it's really my own private copy of danaues' forked repository until HA edits are working, all credit to danaues)

[2022-08-06 02:33] JonGilmore commented on #2
Thanks buddy, this got me going - really appreciate it!

[2022-08-09 20:23] danaues commented on #2
@JonGilmore, @MouseRatt
Glad you got it working.  I'm getting really close to having RA3 support merged into the main pylutron-caseta module.

PR#101
https://github.com/gurumitts/pylutron-caseta/pull/101

[2022-08-09 20:29] danaues commented on #2
Hey @daytonturner, JohnGilmore and MouseRatt have it working based on my older commits.  I was forced to make some changes to get it merged with the main Module, which is why it broke.

If you want to use my current RA3 branch, you can use my revisions to the HA integration from this branch:

https://github.com/danaues/core/tree/lutron_caseta_ra3/homeassistant/components/lutron_caseta

You will ha

[2022-08-18 13:43] danaues opened #7 "Testing RA3 Support"
Hi Everyone
@MouseRatt, @JonGilmore, @daytonturner, @chrisdrackett, @mrmichaeldavis, @swamplynx

This is where we stand with official integration:
pylutron-caseta
https://github.com/gurumitts/pylutron-caseta/pull/101 was merged providing support for RA3 Processors
https://github.com/gurumitts/pylutron-caseta/pull/107 is open, adding occupancy sensors for RA3
Still need to add support for LEDs and

[2022-08-18 13:46] danaues commented on #7
Adding @iCSpotRun , @mrmichaeladavis

[2022-08-18 22:48] peterxrock commented on #7
![113C44E3-E605-43C7-816B-30D2CEF4550A](https://user-images.githubusercontent.com/69395225/185508659-11416722-4d19-4bf5-b466-9429ce519f4a.jpeg)
Joining here. I have Sunnata 3b keypads, dimmers and one occupancy sensor. I have installed the custom component, but when trying to install pylutron, per the directions, the SSH console in HA doesn’t start with “ha”. I’m running on a VM, but I see Docker

[2022-08-18 23:46] danaues commented on #7
@peterxrock, It won't work over SSH.  Try using the console screen on your VM,  Not the SSH connection.

[2022-08-18 23:56] peterxrock commented on #7
I might be too novice for this. Hosting on a Synology VM so there's no built in console. I can SSH to the Synology but I don't know the commands to access the VM specifically. Sorry.

Edit: One sec. Think I found it.

[2022-08-19 00:05] peterxrock commented on #7
Install worked. When I try to add the component, I get this. ![image](https://user-images.githubusercontent.com/69395225/185515406-e3ba696a-78fe-47ec-8d45-e97bd60c2c3c.png)

[2022-08-19 00:48] danaues commented on #7
looks like it's missing part of the message.  Try entering the IP address of your RA3 Processor and clicking submit

[2022-08-19 00:49] danaues commented on #7
It should look like this:

![image](https://user-images.githubusercontent.com/24459240/185519025-5b3f8f63-027d-4d40-b1a8-c9c1504b5507.png)

[2022-08-19 00:50] danaues commented on #7
Then this:
![image](https://user-images.githubusercontent.com/24459240/185519124-6c35ec4a-3aa6-4c0d-af86-f9fed8e0418b.png)

[2022-08-19 04:58] peterxrock commented on #7
No luck. It just hung here for a few minutes.
<img width="423" alt="Screen Shot 2022-08-18 at 11 57 12 PM" src="https://user-images.githubusercontent.com/69395225/185545823-5d36e4ec-1df3-4225-9fc9-4483bd64eb77.png">

[2022-08-19 05:07] peterxrock commented on #7
Realized I needed to push the button on the bridge. It paired. However, I have six keypads, but it hasn't recognized them all. Hasn't found any dimmers. Should I be listening for events?

[2022-08-19 05:28] peterxrock commented on #7
Paired it successfully. I noticed it's picking up one room of the Triathlon shades, but none of the others. Let me know if you want to test anything specific!

[2022-08-19 12:36] danaues commented on #7
@peterxrock

To confirm, you're running at least HA 8.7.x ?

Can you add this to your configuration.yaml, restart and let me know if you see any lutron_caseta errors in the logs.

logger:
  default: info
  logs:
    custom_components.lutron_caseta: debug

[2022-08-19 13:00] peterxrock commented on #7
I’m running 2022.8.6. I’m in the beta channel but I don't see 8.7. Will try to get it updated manually shortly.

[2022-08-19 14:00] danaues commented on #7
@peterxrock I've just pushed some changes to the lutron-caseta custom component folder.

I don't have any shades to test with, but I think they were probably returning None serials, which created an error, and is why you only see the first one.  I've updated the component to handle None serialized zones for covers, switches and fans.

update your config/custom_components/lutron_caseta with the lat

[2022-08-19 15:08] peterxrock commented on #7
Thank you! All devices load now.

Keypads - Tested both Single Action and Toggle settings in Lutron Designer. I believe the component treats all button presses as Single Action. It would be ideal to have Toggle work, so you could use a single keypad button to toggle. I realize the automation logic can be "if light is on, then turn off/if off, then turn on".

Shades - All of the covers load now; th

[2022-08-19 16:23] mrmichaeladavis commented on #7
I will take a test on the weekend and report back!

[2022-08-19 17:47] danaues commented on #7
@peterxrock Can you post your diagnostic.txt file for the integration:
Click on "Settings" > "Devices and Services"
Select the 3 vertical dots icon at the bottom right of the Lutron Caseta integration box, and click "Download diagnostics" to get the file.

Also, can you provide example names that you were expecting for these:
![image](https://user-images.githubusercontent.com/24459240/185676700-d7

[2022-08-19 18:06] peterxrock commented on #7
Attached. I ended up renaming the devices in Lutron, since it was pulling in as light.living_room_living_room_pendant. After a transfer and some reloads, it seems to pull the correct name now. I would note that when a device name is changed in Lutron, it creates a new device in HA and abandons the old one. This may be intended functionality. Just FYI.
[config_entry-lutron_caseta-548833c7f1dbe65ba9

[2022-08-19 18:34] peterxrock commented on #7
One issue - I have one room with multiple shade groups. One group is a single shade/door, one group for the two shades on either side, and one group for the single shade across the room. When using a keypad button to raise/lower, the shade groups are not in sync. Not by much, but enough that they're not aligned.

[2022-08-19 22:13] peterxrock commented on #7
New issue - on Kitchen Keypad 1, the button 1 LED never turns off, even though it's set as Single Action in Lutron. It functions normally.

[2022-08-19 22:50] peterxrock commented on #7
Logger: pylutron_caseta.smartbridge
Source: /usr/local/lib/python3.10/site-packages/pylutron_caseta/smartbridge.py:485
First occurred: 4:28:46 PM (40 occurrences)
Last logged: 4:41:23 PM

Reconnecting...
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/site-packages/pylutron_caseta/smartbridge.py", line 460, in _monitor_once
    self._leap = await self._connect()
  File "/usr/l

[2022-08-20 13:06] peterxrock commented on #7
Logger: homeassistant.helpers.integration_platform
Source: loader.py:674
First occurred: August 19, 2022, 11:23:18 PM (3 occurrences)
Last logged: August 19, 2022, 11:23:18 PM

Unexpected error importing lutron_caseta/recorder.py
Unexpected error importing lutron_caseta/media_source.py
Unexpected error importing lutron_caseta/system_health.py
Traceback (most recent call last):
  File "/usr/src/hom

[2022-08-20 19:49] danaues commented on #7
Yes, LEDs are still on the To Do list.  Not supported yet.  I'll start looking into it once the occupancy support is merged

[2022-08-20 20:24] danaues commented on #7
It kinda looks like the RA3 Processor was reset/restarted.  Did it come back on it own after this?

It kinda looks like the RA3 Processor was reset/restarted.  Did it come back on it own after this?

[2022-08-20 20:26] danaues commented on #7
I think you might have some extra files in your custom_components/lutron_caseta folder.

These files aren't supposed to be in there, and aren't in my repository.  Can you have a look?

lutron_caseta/recorder.py
lutron_caseta/media_source.py
lutron_caseta/system_health.py

[2022-08-20 20:50] peterxrock commented on #7
I wonder if this happens when there's a transfer? I was definitely transferring quite a bit yesterday.

[2022-08-20 21:00] peterxrock commented on #7
Nope, none of these files in the folder.

[2022-08-20 21:01] danaues commented on #7
Yes, happens to me on during a transfer too.  Mine comes back up on it's own after the processor is available again.

[2022-08-20 21:02] danaues commented on #7
might be related to running it on HA 8.6, maybe some things that were changed in 8.7 are causing this.  My clone of the lutron_caseta integration was from the 8.7 source tree.  Do you have to restart after you get this error?  Or does everything keep working?

[2022-08-20 21:07] peterxrock commented on #7
Everything keeps working. So far, none of the errors have stopped it. Is there an easy way to upgrade to 8.7 via the VM console? I tried some Googled commands but nothing happened.

[2022-08-20 21:09] peterxrock commented on #7
Lots of these, but I believe due to 8.6, too:

Logger: pylutron_caseta.smartbridge
Source: runner.py:119
First occurred: August 19, 2022, 11:23:18 PM (8 occurrences)
Last logged: 3:45:23 PM

Occupancy group 1854 has a status but no sensors
Occupancy group 1866 has a status but no sensors

[2022-08-20 21:14] danaues commented on #7
These are expected.  The processor sends area status updates for areas that don't have any sensors.  The module just ignores them, and sends this warning.  Maybe I'll remove the warning, it isn't really important.

[2022-08-20 21:25] danaues commented on #7
I've just updated this to send a debug message instead of a warning.  You can uninstall and re-install using pip to test.

[2022-08-20 22:19] danaues opened #9 "RA3 - LED Support"
Discussion for adding LED support for RA3

[2022-08-20 22:20] danaues commented on #9
@dcode, Have you discovered a way to list or discover the LEDs attached to an RA3 processor?

[2022-08-20 23:22] peterxrock commented on #7
That worked!

[2022-08-23 03:38] lsdave commented on #7
If you decide to integrate Lutron QSX i have a system that has lots of different device types that i could test with.

[2022-08-23 03:41] lsdave commented on #1
I have QSX set up with lots of different device types.... Palladiom Keypads, Seetouch hybrid, Ecosystem loads, DMX loads, closed contact loads, shades, wireless dimmers, picos and See touch QS wired keypads. Id be willing to help out if need be.  Running HASS OS in a VM

[2022-08-23 14:39] danaues commented on #1
Hey @lsdave,

@cbw has been working on adding QSX Support, and has an open PR here:
https://github.com/gurumitts/pylutron-caseta/pull/106

[2022-08-23 14:47] cbw commented on #1
@lsdave if you could run a few LEAP commands for me, that would be really helpful. All my testing has been with a test processor without any of the devices addressed (my system doesn't get installed for another couple months), so I can't tell which devices return serial numbers or not.

You can mask out your actual serial numbers if you don't want to share those, I just need to see what the struct

[2022-08-23 18:41] lsdave commented on #1
@cbw Yeah, just let me know what commands you want me to run and i can do it tonight.  I also have a couple of the appliance switches and wireless occupancy sensors.

[2022-08-23 19:51] cbw commented on #1
@lsdave awesome, thank you! Here's a rundown of the process (apologize if this is either too low-level or too high-level, if any of this is unclear or you need any help, just give me a shout):

[code]

(edited - duh, there's no private messaging here. If you don't want to post the output publicly, you can message me at ceebeedub on Reddit or we can figure out some way that doesn't involve me posti

[2022-08-25 02:56] peterxrock commented on #7
I noticed it's pulling in a device called "Bathroom Shower Fan". I do have a Bathroom Shower Fan that's currently unactivated, but it's the only unactivated switch showing up under Devices. When I open it, it has all the Lutron entities underneath it.
<img width="1038" alt="Screen Shot 2022-08-24 at 9 54 49 PM" src="https://user-images.githubusercontent.com/69395225/186563906-85e16730-e2f4-4321-86

[2022-08-26 15:26] peterxrock commented on #7
I upgraded to 8.7 last night. It broke the integration (I assume this is because you sent one specific for 8.6). I downloaded the custom component in the first message of this thread, reinstalled, and now it won't let me add the custom component. Do I need to update something with pylutron?

[2022-08-27 03:02] dcough commented on #7
Also upgraded to 8.7 and now seeing a "Failed to Set Up" notice on the integration that was working a few days ago, and a notice to check the logs.

The log shows:

File "/config/custom_components/lutron_caseta/__init__.py", line 158, in async_setup_entry
File "/usr/local/lib/python3.10/site-packages/pylutron_caseta/smartbridge.py", line 104, in connect
File "/usr/local/lib/python3.10/site-package

[2022-08-27 03:19] peterxrock commented on #7
Yes, that's the same issue. I removed and reinstalled and it still didn't work. I ended up rolling back to a snapshot on 8.6.

[2022-08-27 04:56] dcough commented on #7
Hm, I was able to re-install and no errors with launching anymore. My existing test automation was broken, but once I re-added the keypad and saved the automation it started working again.

I did the following to re-install (same as instructions but with a step of deleting the integration prior to the restart)

Going to try adding a few new devices to the network and we'll see how it goes.

[2022-08-27 13:39] peterxrock commented on #7
Thanks! I was able to get it running again. Checking everything now. I still get this error in the log:
Logger: homeassistant.helpers.integration_platform
Source: loader.py:674
First occurred: 8:38:21 AM (3 occurrences)
Last logged: 8:38:21 AM

Unexpected error importing lutron_caseta/recorder.py
Unexpected error importing lutron_caseta/system_health.py
Unexpected error importing lutron_caseta/med

[2022-08-27 22:22] dcough commented on #7
Happy to help, your install experience was a huge help to me!

I'm not seeing errors, but I'm probably not looking in the right place. (Former front end web designer, minimal experience with anything developer related!)

My config file has the following:

(I added the last one after seeing your error message).

And I'm looking in the "Full Logs" available from the HA UI in System > Logs. If that m

[2022-08-28 17:21] peterxrock commented on #7
After upgrading to 8.7, I’m still not seeing the occupancy sensor working. It just stays on full time. ![image](https://user-images.githubusercontent.com/69395225/187086612-09a314bd-bf95-4ef3-bba7-cc567ee3387c.png)

[2022-08-28 22:54] danaues commented on #7
@dcough , thanks I appreciate the help testing!

[2022-08-28 22:56] danaues commented on #7
@peterxrock is the sensor configured as occupancy or vacation within the lutron designer?  Can you send me another diagnostic.txt file?

Thanks!

[2022-08-29 14:36] peterxrock commented on #7
Sorry. I realized the issue is the occupancy sensor isn't coming through at all - not that it's not updating. After 8.7, the automation was referencing a non-existent entity. Here are the logs.
<img width="573" alt="Screen Shot 2022-08-29 at 9 30 36 AM" src="https://user-images.githubusercontent.com/69395225/187226300-842c7b56-87b5-4dcd-b5c1-62adda3be2d7.png">
[config_entry-lutron_caseta-d8996d3cc

[2022-08-29 14:37] peterxrock commented on #7
Still getting this on 8.7, too:
Logger: homeassistant.helpers.integration_platform
Source: loader.py:674
First occurred: 9:35:43 AM (3 occurrences)
Last logged: 9:35:43 AM

Unexpected error importing lutron_caseta/recorder.py
Unexpected error importing lutron_caseta/media_source.py
Unexpected error importing lutron_caseta/system_health.py
Traceback (most recent call last):
  File "/usr/src/homeass

[2022-08-29 15:11] danaues commented on #7
@peterxrock , can you double check to make sure the folder name that you have the custom component in is

"/custom_components/lutron_caseta"  all in lower case.  The folder name has to match exactly the domain we've set in the manifest file.

This forum post describes a similar problem that was fixed with capitalization of the folder name:
https://community.home-assistant.io/t/modulenotfounderror-

[2022-08-29 15:28] danaues commented on #7
Did the sensor entity exist before the upgrade to 8.7?

[2022-08-29 15:54] peterxrock commented on #7
As downloaded, it's "lutron_caseta-main". I changed it, and the issue resolved.

[2022-08-29 15:56] peterxrock commented on #7
Yes, I think you dropped me an update to the component, and it was working for a bit on 8.6. Just confirming - I should see this in the entities list?

[2022-08-29 15:56] danaues commented on #7
Yes, as a binary sensor

[2022-08-29 15:57] peterxrock commented on #7
Got it. It's not coming through then.

[2022-08-29 15:57] danaues commented on #7
@peterxrock maybe try re-installing through console with pip.  see if that fixes it.  Sounds like the occupancy support isn't part of the pylutron-caseta module that's in use.

[2022-08-29 15:58] danaues commented on #7
make sure to uninstall first too, just the pip part

[2022-08-29 16:07] peterxrock commented on #7
<img width="418" alt="Screen Shot 2022-08-29 at 11 07 11 AM" src="https://user-images.githubusercontent.com/69395225/187245230-c843da3a-b1f9-45a0-b49c-feb66e39a62d.png">

No luck. Just making sure I'm on the correct version.

[2022-08-30 02:35] peterxrock commented on #7
Added a new keypad to Lutron this evening, but it's not showing up. I transferred a few times.

There's also still the random Device (it changed from Bathroom Fan to Hallway Shades) that shows all the entities under it. Wonder if this is related.

[config_entry-lutron_caseta-d8996d3cc3ff5fd1e256d94d0c397bcb.json-2.txt](https://github.com/danaues/pylutron-caseta/files/9449103/config_entry-lutron_ca

[2022-08-30 06:28] dcough commented on #7
I installed an RRST-W4B-XX (SunnataKeypad) tonight along with a few dimmers and it's now showing in the integration as expected. Just to make sure, you activated the device between transfers, right?

My install process was Physically Install, Add in Designer, Sync, Activate via phone, Sync back with designer, wait the 10+ min, Transfer, and then restart HA.

I also seem to have a "master device" w

[2022-08-30 12:58] danaues commented on #7
@dcough, @peterxrock
This switched device seems like it might be part of the problem, I'm going to try and re-create this on my setup.
Thanks for the feedback, I'll let you know what I find.

[2022-08-30 14:10] danaues commented on #7
@dcough, @peterxrock
I found a problem with how the HA integration was handling the 'None' serials from our zones.
I've pushed an update to the lutron_caseta custom component.

Try updating the custom component and I think it should fix this problem.

1. Delete the integration from HA "Settings>Devices and Services>Lutron Caseta Integration (3dots)>Delete"
2. Update the lutron_caseta custom compon

[2022-08-30 14:21] peterxrock commented on #7
That fixed it for me! Thanks!

[2022-08-30 14:29] JonGilmore commented on #7
@danaues thanks for all the work so far, this is awesome! I might be missing something, but is this expected to support scenes from 6 button hybrid keypads? I've got quite a few of them and while the actual local load control works, there aren't any scenes that get created.

[2022-08-30 14:36] danaues commented on #7
@JonGilmore Unfortunately, scenes aren't supported yet, but it is on the to-do list.

@cbw just added QSX support, and along with it:
Support for keypad LEDs (both providing current state, and allowing them to be turned on and off)
Ability to send a button tap for keypad buttons.

Both features will probably work with RA3 too.  So this might accomplish the same thing.  I haven't started testing it

[2022-08-30 14:37] danaues commented on #7
@peterxrock is the missing occupancy sensor back too?

[2022-08-30 14:39] peterxrock commented on #7
Good call. It is not. I’m going to try reactivating it in Lutron to double check.

[2022-08-30 14:50] peterxrock commented on #7
@danaues Didn't seem to work. Adding my Lutron config here, in case anything obvious is missing.

Like @JonGilmore said: this is awesome work. I was using an insane system of HomeKit input booleans to band-aid together the system - this makes it so much easier.

<img width="1041" alt="Screen Shot 2022-08-30 at 9 48 10 AM" src="https://user-images.githubusercontent.com/69395225/187468663-f3bd7c59-1

[2022-08-30 14:52] JonGilmore commented on #7
I do also have a spare LRF2-OCR2B laying around that I'm not currently using (as I just moved into my home). I can activate it and test as well if it helps. Just lmk 😄

[2022-08-30 14:54] danaues commented on #7
@JonGilmore If you don't mind, please add it and let me know if it works for you.  That would be a big help.  Thx

[2022-08-30 14:58] iCSpotRun commented on #7
I'm happy to send an occupancy sensor to anyone for testing. I'm also still looking to do some tests with the Lutron RF modules for inclusion into the component.

I'm also happy to sponsor this work if someone wants to set that up here on the Repo.

Really appreciate all the work being done.

[2022-08-30 15:11] danaues commented on #7
@dcough, @peterxrock, @JonGilmore

I just pushed another update to the lutron_caseta custom component.  I'm simplifying the fix I made earlier, reducing the number of changes, and still accomplishing the same goal.  Makes it easier to get merged with the main HA/core tree.

Can you please update the custom component again and let me know if it's working for you.  You will have to delete the integr

[2022-08-30 15:21] peterxrock commented on #7
@danaues Updated, but still no occupancy sensor.
[config_entry-lutron_caseta-8a5a8fe171936ca29adcaf305d0ae202.json.txt](https://github.com/danaues/pylutron-caseta/files/9454166/config_entry-lutron_caseta-8a5a8fe171936ca29adcaf305d0ae202.json.txt)

[2022-08-30 15:44] danaues commented on #7
@peterxrock
Ok thanks.  I wasn't expecting it to fix that issue yet, just want to make sure the entities are showing up under the correct device still, instead of all being listed under one random device.

For your occupancy sensor, can you send me the leap output of:
{"CommuniqueType": "ReadRequest", "Header": { "Url": "/device?where=IsThisDevice:false" }}

You can use the Lutron Designer.  Open

[2022-08-30 15:50] peterxrock commented on #7
8/30/2022 10:50:20 AM: LEAP connection established for a processor with IP address 192.168.1.67

8/30/2022 10:50:31 AM: Request Sent:- {"CommuniqueType": "ReadRequest", "Header": { "Url": "/device?where=IsThisDevice:false" }}
8/30/2022 10:50:31 AM: Response Received :-{"CommuniqueType":"ReadResponse","Header":{"MessageBodyType":"MultipleDeviceDefinition","StatusCode":"200 OK","Url":"/device?where=

[2022-08-30 15:56] danaues commented on #7
Great!  The DeviceType of your occupancy sensor is "RPSCeilingMountedOccupancySensor", which is different than "RPSOccupancySensor" that I've seen for all others.  I just have to add it to the list of DeviceTypes the occupancy sensors filter for.

I'll push an update shortly and we can test.

[2022-08-30 16:01] danaues commented on #7
@peterxrock ok, I"ve pushed an update to the pylutron_caseta module.

Update the module (pip uninstall and re-install), and restart.  You shouldn't have to delete the integration.

enter the command "login", and you get a "#" prompt
enter the command "docker exec -it $(docker ps -f name=homeassistant -q) bash" and you get a "bash-5.1#" prompt
enter the command "pip uninstall pylutron-caseta" and a

[2022-08-30 16:18] peterxrock commented on #7
@danaues That did it! Amazing work.

[2022-08-30 19:31] danaues commented on #7
I just pushed another update to lutron_caseta to match the actual changes made in HA PR# 77553
https://github.com/home-assistant/core/pull/77553

Thanks @peterxrock for helping track down and fix this issue.

Everyone might get some device duplication after this update.  You'll have to delete the integration, and re-add to fix.

Thx!

[2022-08-30 22:08] #9 closed

[2022-08-30 22:09] danaues commented on #9
This has been implemented in PR#106
https://github.com/gurumitts/pylutron-caseta/pull/106

[2022-08-30 22:09] #3 closed

[2022-08-31 20:54] peterxrock commented on #7
I noticed the occupancy sensor stopped updating for about an hour this afternoon. I restarted HA and it recovered. Anything in the logs?

I also noticed if the processor loses power, the integrations needs to be restarted for it to function in HA again. Is it possible to reattempt connection, so if we lose power while away, it will recover?

<img width="428" alt="Screen Shot 2022-08-31 at 3 48 57

[2022-09-01 19:50] danaues commented on #7
I'll do some testing with re-connections after a processor reboot.
I think this should be working, but it's part of the original caseta code, nothing added for RA3/QSX.

[2022-09-07 18:51] peterxrock commented on #7
Updated to 2022.9 without thinking. I can roll back, but before I do, any update for this version?

[2022-09-07 23:18] danaues commented on #7
@peterxrock , No worries. I'll release a custom_component version compatible with 2022.9 shortly.  Just testing it now.

[2022-09-07 23:35] danaues commented on #7
Ok it's ready.

Re-install pylutron-caseta using (remember to pip uninstall pylutron-caseta first):
"pip install git+https://github.com/danaues/pylutron-caseta@testing-ha-2022-9"
** it's a different branch than before, testing-ha-2022-9 vs testing

Then for the custom_component, use this branch that is specific for 2022-9:
https://github.com/danaues/lutron_caseta/tree/ha-2022-9

If you used git to

[2022-09-07 23:36] danaues commented on #7
LED support is now available for testing too.  Thanks to @cbw  Please let me know if it's working

[2022-09-07 23:52] peterxrock commented on #7
On it! For LED support, should we be using Single Scene or Toggle in Designer? The LED should just briefly illuminate when the button is pushed, but won't stay on, since it's not treated as a toggle in HA, right?

[2022-09-08 00:00] danaues commented on #7
Shouldn’t matter.  For each button led, HA will expose a switch. switch.basement_bedroom_Position1_SunnataKeypad_Button1_LED. or something like that

you can query the status of the LED by checking the entity state.  You can switch the LED on or off by call the service switch.turn_on etc… just like a normal switch.

RA3 will automatically do it’s own thing in the background for lighting the LED, d

[2022-09-08 00:02] danaues commented on #7
Next feature that’s coming is allowing you to push a keypad button from HA.  Essentially allowing you to initiate scenes from HA.  It’s a work in progress

[2022-09-08 00:11] danaues commented on #7
This is the blueprint I created for managing the LED status based on another entity.

https://gist.github.com/danaues/996621fee59d7176283f5f47f068165c#file-lutron_led_status_handler-yaml

[2022-09-08 00:13] danaues commented on #7
You should be able to click "import blueprint" from the blueprint page and paste the above link in

It watches for a state change on the entity you choose, and also sets the LED when HA starts, to try and catch any led sync issues from HA restarting.

[2022-09-09 20:16] peterxrock commented on #7
Could the Blueprint track the status of switch entities? I have one keypad button that turns on a switch - would like to track that.

[2022-09-09 20:21] danaues commented on #7
It should do that. Just select your switch entity from 2nd dropdown, and have it watch for 'on' in the 3rd dropdown.

[2022-09-09 20:22] peterxrock commented on #7
Not showing any switch entities under the drop down. Just lights.

[2022-09-09 20:25] danaues commented on #7
You're right! I have it filtering for lights.
if you edit the .yaml file in config/blueprints/automations/danaues.....
delete the line that days domain: light (I think it's line 18)

    track_entity:
      name: Entity to track state of
      description: Light or Group Entity you want the LED to match the state of
      default: ""
      selector:
        entity:
          domain: light

[2022-09-09 20:25] danaues commented on #7
You might have to restart or rename the file for HA to pick up the changes

[2022-09-09 20:40] daytonturner commented on #7
I'm trying the new lutron_caseta and pylutron-caseta, the previous branch i was on was ra3-occupancy, on 2022.7 i believe.

I noticed that all my devices and entities are now showing up twice, with the first one showing up as unavailable.

e.g. I have an Ensuite Under Cabinet light that shows up as light.ensuite_uc - after upgrading now i see it, as well as light.ensuite_uc_2.

Tried a quick disab

[2022-09-09 20:43] danaues commented on #7
@daytonturner some stuff was changed that causes a rename of the entities.  Best way is to delete the integration, then re-add it.  Everything will only show up once.  Naming should be the same as original.

[2022-09-09 20:44] danaues commented on #7
Delete the integration from HA "Settings>Devices and Services>Lutron Caseta Integration (3dots)>Delete"

[2022-09-09 20:56] daytonturner commented on #7
OK Ive done that, and then tried re-adding the bridge the same way it had been added the first time, in configuration.yaml, like:

lutron_caseta:
  - host: 10.2.5.179
    keyfile: caseta.key
    certfile: caseta.crt
    ca_certs: caseta-bridge.crt

Upon restart, it tries to reconfigure and re-add the bridge but it fails, and log shows

"Timeout while trying to connect to bridge at 10.2.5.179"

Att

[2022-09-09 21:04] daytonturner commented on #7
oooookay, well i just restarted for the third time and now it works fine.  So,.. nevermind! Maybe the socket was stuck in TIME_WAIT or something.  Thanks!

[2022-09-14 14:01] peterxrock commented on #7
Keypad LEDs work well. Nice work. I'd remove the warnings from the logs. I wonder if these are because the keypad LEDs are briefly "on" when pressed (due to RA) or if this is truly an HA overlap.
<img width="924" alt="Screen Shot 2022-09-14 at 8 59 17 AM" src="https://user-images.githubusercontent.com/69395225/190175123-75ae76a3-156c-4de9-ab39-2d3ceca05790.png">

[2022-09-14 19:08] danaues commented on #7
Thanks!  Yes, easy to fix.  I'll upload an updated version of the automation this evening.

[2022-09-14 22:29] danaues commented on #7
@peterxrock , check out this new version of the automation.

now allows tracking state of any entity, not just lights
fixed a bug in the state selection
changed automation type to Restart to eliminate the errors in the log

https://gist.github.com/danaues/996621fee59d7176283f5f47f068165c

[2022-09-18 19:54] peterxrock commented on #7
Getting this one here and there:

Logger: pylutron_caseta.smartbridge
Source: runner.py:119
First occurred: 1:28:29 PM (1 occurrences)
Last logged: 1:28:29 PM

Occupancy group 1866 has sensors but no status

[2022-09-22 17:48] peterxrock commented on #7
Possible to get this updated for 9.6? Have a few unrelated bugs so I'd like to upgrade.

[2022-09-22 23:26] peterxrock commented on #7
Getting some new odd errors:

Logger: homeassistant.helpers.service
Source: helpers/service.py:635
First occurred: 12:39:19 PM **(5753 occurrences)**
Last logged: 6:24:20 PM

Unable to find referenced entities switch.kitchen_keypad_position_1_sunnatakeypad_accent_lights_led or it is/they are currently not available
Unable to find referenced entities switch.kitchen_keypad_position_1_sunnatakeypad_f

[2022-09-28 21:15] peterxrock commented on #7
Added a bunch of occupancy sensors today. Same error messages, but they function just fine:

Logger: pylutron_caseta.smartbridge
Source: runner.py:119
First occurred: 4:14:47 PM (5 occurrences)
Last logged: 4:14:47 PM

Occupancy group 1866 has sensors but no status
Occupancy group 1902 has sensors but no status
Occupancy group 2309 has sensors but no status
Occupancy group 4601 has sensors but no

[2022-10-12 19:47] peterxrock commented on #7
Getting this after the recent processor firmware:

Logger: hass_nabucasa.iot
Source: runner.py:119
First occurred: 1:37:03 PM (15 occurrences)
Last logged: 2:40:13 PM

Connection closed: Closed by server. A newer instance connected (4002)

Also getting the "already running" on the LED blueprint still

[2022-11-02 20:40] peterxrock commented on #7
Any updates for v10? I may have to abandon soon. Stuck on 9 with a bunch of script issues. Thanks!

[2022-11-02 21:06] danaues commented on #7
Everything is merged into v11.  Can you upgrade tomorrow once it's released?  It has everything.

Alternatively, the dev branch of this repo has the everything too.
https://github.com/danaues/lutron_caseta

Will work on v9 or v10 (or11).  The only issue with 9 was that there were changed made to HA that required alterations in all integrations.  This hasn't been the case for v10 or v11

[2022-11-02 21:08] danaues commented on #7
You don't have to do anything involving shell, or docker anymore.  Just the custom_component folder is enough now that
pylutron-caseta is fully updated and released (0.17.1)

Thanks for all your help testing!

[2022-11-02 21:09] danaues commented on #7
Once you upgrade to HA 11.0 make sure to remove your custom_components/lutron_caseta folder.  It won't be necessary anymore, and will prevent you from receiving future updates to the integration.

Cheers!

[2022-11-02 21:30] peterxrock commented on #7
Oh awesome. Super exciting. I’ll report back tomorrow!

On Wed, Nov 2, 2022 at 4:09 PM Kevin Addeman ***@***.***>
wrote:

[2022-11-03 18:26] peterxrock commented on #7
*EDIT: Keypads are not functioning:

<img width="1206" alt="Screen Shot 2022-11-03 at 1 25 34 PM" src="https://user-images.githubusercontent.com/69395225/199804387-8ed34bf0-03ee-4976-ae93-840ce4c04bf4.png">
[config_entry-lutron_caseta-4ce99760b8abb50e7f5c7e1380cb22d8.json.txt](https://github.com/danaues/pylutron-caseta/files/9932049/config_entry-lutron_caseta-4ce99760b8abb50e7f5c7e1380cb22d8.json.

[2022-11-03 19:27] danaues commented on #7
You just have to edit your keypad automations, and select the correct button from the trigger drop-down.

The full version imports the button names instead of the generic “First button” or “Second button”.

This is the consequence of being a beta tester,  but it’s a simple fix within your automations.

[2022-11-03 19:37] peterxrock commented on #7
Got it. Thanks! How about this one?

<img width="641" alt="Screen Shot 2022-11-03 at 2 34 20 PM" src="https://user-images.githubusercontent.com/69395225/199817907-b581ec98-a4d5-4d2a-90da-b6d44ed3e7bf.png">

[2022-11-03 19:41] danaues commented on #7
It’s just a quirk about how the processor reports occupancy of some zones that don’t have any occupancy sensors. You can safely ignore it.

I’ll look into suppressing it (drop the reporting category down from warning to debug) in a future release.

[2022-11-03 19:43] peterxrock commented on #7
Awesome. Amazing work on this. It really opens up the system. Thanks again!

[2022-11-06 04:59] mrmichaeladavis commented on #7
Hey all, run testing today and all 89 of my switches and shades with RA3 proc worked flawlessly with HA 2022.11.1  - Thanks!